.App {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.searchcontainer .heading {
  text-align: center;
}
.searchcontainer .searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.searchcontainer .searchbar input {
  height: 2rem;
  width: 70%;
}
.searchcontainer .searchbar .btn button {
  height: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.bodyparts-container .scrollbar {
  margin-top: 3rem;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-block-end: 30px;
  margin-block-end: -15px;
  scroll-snap-type: inline mandatory;
}



.bodyparts-container .boxcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 10%;
  scroll-snap-align: start;
}
.bodyparts-container .boxcard p{
  font-size: larger;
  font-weight: 300;
}

.bodyparts-container .boxcard img {
   height: 40px;
   width: 45px;
}

.exercisescontainer{
  margin-top: 3rem;
}

.exercisescontainer  .title{
  text-align: center;
  font-size: larger;
}

.exercisescontainer .cardcontainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.exercisescontainer .cardcontainer .exercise {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 

.exercisescontainer .cardcontainer .exercise .img{
  height: 90%;
  width: 50%;
}

.exercisescontainer .cardcontainer .exercise .img img{
  height: 100%;
  width: 100%;
}
.exercisescontainer .cardcontainer .exercise .name h3{
  font-size: 15px;
  color: #000;
} 
.exercisescontainer .cardcontainer .exercise .secmuscles{
  color: #000;
  font-size: 13px;
  display: flex;
  gap: 4rem;
}



.detailcontainer {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.detailcontainer .img{
  width: 40%;
  height: 55%;
}
.detailcontainer .img img{
  width: 100%;
  height: 100%;
}

.detailcontainer .leftcontent{
  margin-left: 7rem;
}

.detailcontainer .leftcontent .name{
  font-size: x-large;
}

.detailcontainer .leftcontent .extra{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.detailcontainer .leftcontent .extra .item{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.detailcontainer .leftcontent .dis{
  font-size: large;
  line-height: 35px;
}


/* similar exercises  */

.similar_container .exercisescontainer {
  /* border: 1px solid #000; */
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 5%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  width: 90%;
}

.similar_container .exercisescontainer .exercise{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}


.similar_container .exercisescontainer .exercise .name h3{
  font-size: 15px;
  color: #000;
}
.similar_container .exercisescontainer .exercise .secmuscles {
  display: flex;
  margin-left: 5rem;
  gap: 3rem;
  padding: 3px;
}
hr{
   color: red;
}
.similar_container .exercisescontainer .exercise .secmuscles p{
  font-size: 14px;
  background-color: burlywood;
  color: #000;
  padding: 7px;
  border-radius: 18px;
  width: fit-content;

  text-decoration: none;
}


.similar_container .heading{
  font-size: x-large;
  text-align: center;
} 




.similarcontainer .exercisescontainer .exercise::-webkit-scrollbar{
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

